body {
    font-family: Arial, sans-serif;
    background-color: #5ca187;
    margin: 0;
    padding: 20px;
}

h1 {
    font-size: 2em;
    text-align: center;
    color: #333;
}

#quiz-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.question {
    margin-bottom: 20px;
}

label {
    font-size: 1.2em;
}

button {
    font-size: 1.2em;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

p#result {
    font-size: 1.5em;
    text-align: center;
    margin-top: 20px;
}

@media (min-width: 768px) {
    body {
        font-size: 1.5em; /* Maior tamanho de fonte para facilitar a leitura */
    }
}
